<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<footer>
  <div class="footer-container">
    <div class="sec aboutus">
      <h2>About Us</h2>
      <hr class="footer-hr">
      <p>We know it's always the hardest and toughest moments when a person is looking for
        a bag of blood. We know evey second of it matters. Let's come together to help each Others
        in this tough moments. GLEAM, community dedicated to make blood donation easier for all of us.</p>
      <br>
      <p class="wrapper">Connect with us:</p>
      <ul class="sci" style="padding: 0;">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

      </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <hr class="footer-hr">
      <ul style="padding: 0;">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="/contact-us">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="copyrightText">
  <p>Copyright <i class="fa fa-copyright"></i> 2021 G L E A M. All Rights Reserved.</p>
</div>