<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/footer.css">
<footer>
<div class="footer-container">
    <div class="sec aboutus">
      <h2>About Us</h2>
      <hr class="footer-hr">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident amet enim eligendi quidem consequatur
        soluta corporis perferendis, doloremque fugiat sint doloribus sed temporibus iusto neque inventore nostrum in
        eum cumque.</p>
      <ul class="sci">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

      </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <hr class="footer-hr">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- <div class="sec contact">
      <h2>Contact Info</h2>
      <ul class="info">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </ul>
    </div> -->
  </div>
<div class="copyrightText">
  <p>Copyright <i class="fa fa-copyright"></i> 2021 G L E A M. All Rights Reserved.</p>
</div>
</footer>