<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/css/navbar.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

<header>
  <a href="/" class="logo"><i class="fas fa-tint" style="color: rgb(184, 18, 18);"></i>GLEAM</a>
  <div class="navigation">
    <ul class="menu">
      <div class="close-btn"></div>
      <li class="menu-item"><a href="/search-org?forall=yes">Search Organization</a></li>
      <li class="menu-item"><a href="/contactUs">Contact Us</a></li>
      <div class="signin-btn-navbar"><a href="/login" class="add-link signin">Sign In</a></div>
      <div class="signup-btn-navbar"><a href="/signup" class="add-link signup">Sign Up</a></div>
    </ul>
  </div>
  <div class="menu-btn"></div>
</header>

<script type="text/javascript">
  // jquery for toggle dropdown menus
  $(document).ready(function () {
    //toggle sub-menus
    $(".sub-btn").click(function () {
      $(this).next(".sub-menu").slideToggle();
    });

    //toggle more-menus
    $(".more-btn").click(function () {
      $(this).next(".more-menu").slideToggle();
    });
  });

  //javascript for the responsive navigation menu
  var menu = document.querySelector(".menu");
  var menuBtn = document.querySelector(".menu-btn");
  var closeBtn = document.querySelector(".close-btn");

  menuBtn.addEventListener("click", () => {
    menu.classList.add("active");
  });

  closeBtn.addEventListener("click", () => {
    menu.classList.remove("active");
  });

  //javascript for the navigation bar effects on scroll
  window.addEventListener("scroll", function () {
    var header = document.querySelector("header");
    header.classList.toggle("sticky", window.scrollY > 0);
  });
</script>

<script>
  window.addEventListener('scroll', function () {
    let header = document.querySelector('header');

    header.classList.toggle('scrolled', window.scrollY > 0);
  })
</script>