<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
  <title>Eligibility</title>
  <!-- ALL CSS RESET -->
  <link rel="stylesheet" type="text/css" href="/css/cssReset.css">
  <!-- BOOT STRAP v4.3.1 -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
  <!-- fontawesome 5 webkit from abdullah -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">  -->
  <script src="https://kit.fontawesome.com/af332973a8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/eligibilityTest.css">
  <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>    
	<![endif]-->

</head>

<body>
  <header class="copy">
    <h1 class="font-weight-light">
      Am I Eligible for donating ?
    </h1>
    <p class="lead font-weight-lighter">The answer is important for both you and the recipient. Let's have a quick check
      !
    </p>
  </header>


  <main>

    <form action="#" class="form-body">

      <section class="section-legend">
        <p>Let's look into your <span class="fw-bold" style="color: #b9375e;">Comorbidities</span></p>
      </section>

      <div class="row" style="background-color: brown;">

        <fieldset class="col-sm-12 col-md-6" style="border: 2px solid blue;">
          <p class="lead">Do you have High Blood Pressure?</p>
          <div class="switch-field col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="HBP" id="HBP-Y" value="yes">
              <label class="form-check-label" for="HBP-Y">Yes</label>
              <!-- <span role="button" tabindex="0" aria-pressed="false" onclick="handleBtnClickYes(event)">
                Yes
              </span> -->
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="HBP" id="HBP-N" value="no">
              <label class="form-check-label" for="HBP-N">No</label>
            </div>
        </fieldset>

        <fieldset class="col-sm-12 col-md-6" style="border: 2px solid blue;">
          <p class="lead">Do you have Heart Disease?</p>
          <div class="switch-field col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="HD" id="HD-Y" value="yes">
              <label class="form-check-label" for="HD-Y">Yes</label>
              <!-- <span role="button" tabindex="0" aria-pressed="false" onclick="handleBtnClickYes(event)">
                Yes
              </span> -->
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="HD" id="HD-N" value="no">
              <label class="form-check-label" for="HD-N">No</label>
            </div>
        </fieldset>

      </div>

      <div class="row" style="background-color: gold;">

        <fieldset class="col-sm-12 col-md-6" style="border: 2px solid blue;">
          <p class="lead">Are you a Kidney Patient?</p>
          <div class="switch-field col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="kidney" id="kidney-Y" value="yes">
              <label class="form-check-label" for="kidney-Y">Yes</label>
              <!-- <span role="button" tabindex="0" aria-pressed="false" onclick="handleBtnClickYes(event)">
                Yes
              </span> -->
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="kidney" id="kidney-N" value="no">
              <label class="form-check-label" for="kidney-N">No</label>
            </div>
        </fieldset>

        <fieldset class="col-sm-12 col-md-6" style="border: 2px solid blue;">
          <p class="lead">Do you have any cancer history?</p>
          <div class="switch-field col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="cancer" id="cancer-Y" value="yes">
              <label class="form-check-label" for="cancer-Y">Yes</label>
              <!-- <span role="button" tabindex="0" aria-pressed="false" onclick="handleBtnClickYes(event)">
                Yes
              </span> -->
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="cancer" id="cancer-N" value="no">
              <label class="form-check-label" for="cancer-N">No</label>
            </div>
        </fieldset>

      </div>

      <div class="row" style="background-color:green;">

        <fieldset class="col-sm-12 col-md-6" style="border: 2px solid blue;">
          <p class="lead">Are you Diabetic?</p>
          <div class="switch-field col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="diabetic" id="diabetic-Y" value="yes">
              <label class="form-check-label" for="diabetic-Y">Yes</label>
              <!-- <span role="button" tabindex="0" aria-pressed="false" onclick="handleBtnClickYes(event)">
                Yes
              </span> -->
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="diabetic" id="diabetic-N" value="no">
              <label class="form-check-label" for="diabetic-N">No</label>
            </div>
        </fieldset>



        <fieldset class="col-sm-12 col-md-6" style="border: 2px solid blue;">
          <p class="lead">Are you a Anemic?</p>
          <div class="switch-field col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Anemia" id="Anemia-Y" value="yes">
              <label class="form-check-label" for="Anemia-Y">Yes</label>
              <!-- <span role="button" tabindex="0" aria-pressed="false" onclick="handleBtnClickYes(event)">
                Yes
              </span> -->
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Anemia" id="Anemia-N" value="no">
              <label class="form-check-label" for="Anemia-N">No</label>
            </div>
        </fieldset>

      </div>

      <section class="section-legend">
        <p class="fw-bold fs-4 my-1.5">A few info about <span class="fw-bold" style="color: #b9375e;">lifestyle</span>
        </p>
      </section>

      <fieldset class="row" style="background-color: blueviolet;">
        <div class="col">
          <p class="lead">Select the applicable ones for you</p>
          <div class="switch-field col-sm-12">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="lifestyle1" value="drink-Y">
              <label class="form-check-label" for="lifestyle1">Drinking</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="lifestyle2" value="smoke-Y">
              <label class="form-check-label" for="lifestyle2">Smoking</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="lifestyle3" value="depression-Y">
              <label class="form-check-label" for="lifestyle3">Depression</label>
            </div>
          </div>
      </fieldset>

      <fieldset class="row mb-3 px-10">
        <legend class="fw-normal col-form-label fs-5">When was your last Blood Donation date??
        </legend>
        <div class="switch-field col-sm-12">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="donation-date" value="NA">
            <label class="form-check-label font-italic" for="donation-date">(Not Applicable)</label>
          </div>
      </fieldset>

      <button class="signup-btn" type="submit">Submit</button>

    </form>
  </main>







    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"></script>
</body>


<!-- register24:03-->

</html>