<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
  <title>Eligibility</title>
  <!-- ALL CSS RESET -->
  <!-- <link rel="stylesheet" type="text/css" href="/css/cssReset.css"> -->
  <!-- BOOT STRAP v4.3.1 -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
  <!-- FOR NAVBAR -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <!-- fontawesome 5 webkit from abdullah -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">  -->
  <script src="https://kit.fontawesome.com/af332973a8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/eligibilityTest.css">

  <!-- FOR NAVBAR -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

  <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>    
	<![endif]-->

</head>

<body>

  <!-- ///////////////NAVBAR//////////////// -->
  <header>
    <a href="#" class="logo">GLEAM</a>
    <div class="navigation">
      <ul class="menu">
        <div class="close-btn"></div>
        <li class="menu-item"><a href="#">Home</a></li>
        <li class="menu-item">
          <a class="sub-btn" id="sub-button" href="#">Dropdown <i class="fas fa-angle-down"></i></a>
          <!-- <button class="sub-btn">Dropdown <i class="fas fa-angle-down"></i></button> -->
          <ul class="sub-menu" id="sub-list">
            <li class="sub-item"><a href="#">Sub Item 01</a></li>
            <li class="sub-item"><a href="#">Sub Item 02</a></li>
            <li class="sub-item"><a href="#">Sub Item 03</a></li>
          </ul>
        </li>
        <li class="menu-item">
          <a class="sub-btn" href="#">With Sub-dropdown <i class="fas fa-angle-down"></i></a>
          <!-- <button class="sub-btn">With Sub-dropdown <i class="fas fa-angle-down"></i></button> -->
          <ul class="sub-menu">
            <li class="sub-item"><a href="#">Sub Item 01</a></li>
            <li class="sub-item"><a href="#">Sub Item 02</a></li>
            <li class="sub-item"><a href="#">Sub Item 03</a></li>
            <li class="sub-item"><a href="#">Sub Item 04</a></li>
            <li class="sub-item more">
              <a class="more-btn" href="#">More Items <i class="fas fa-angle-right"></i></a>
              <ul class="more-menu">
                <li class="more-item"><a href="#">More Item 01</a></li>
                <li class="more-item"><a href="#">More Item 02</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="#">Services</a></li>
        <li class="menu-item"><a href="#">About</a></li>
        <li class="menu-item"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="menu-btn"></div>
  </header>

  <!-- //////////////////////////////////// -->

  <div class="container">
    <div class="container-card">
      <div class="card-heading">
        <h1>Click to learn more.</h1>
      </div>
      <div class="card">
        <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="blobEligibility1">
          <path fill="#457b9d"
            d="M59.6,-20.9C67.4,4.8,57.3,34.9,42.1,42.2C26.9,49.6,6.6,34.2,-9,20.9C-24.5,7.6,-35.3,-3.7,-33,-21.8C-30.8,-39.9,-15.4,-64.8,5.2,-66.5C25.9,-68.3,51.7,-46.7,59.6,-20.9Z"
            transform="translate(100 100)" />
        </svg>
        <h2>Comorbidities</h2>
        <hr class="hr1">
        <div class="content">
          <h4>Card One</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vitae facilis vel laborum excepturi
            perferendis dolorem optio nulla sed ea veritatis, at quaerat odio accusamus dolorum! Delectus vero
            temporibus maiores.</p>
        </div>
      </div>

      <div class="card">
        <h2>Lifestyle</h2>
        <hr class="hr1">
        <div class="content">
          <h4>Card Two</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vitae facilis vel laborum excepturi
            perferendis dolorem optio nulla sed ea veritatis, at quaerat odio accusamus dolorum! Delectus vero
            temporibus maiores.</p>
        </div>
      </div>

      <div class="card">
        <h2>Donation Intervals</h2>
        <hr class="hr1">
        <div class="content">
          <h4>Card Three</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi vitae facilis vel laborum excepturi
            perferendis dolorem optio nulla sed ea veritatis, at quaerat odio accusamus dolorum! Delectus vero
            temporibus maiores.</p>
        </div>
      </div>
    </div>



    <div class="container-form">
      <hr>
      <h1>Let us know about your Comorbidities.</h1>
      <div class="row">
        <div class="form-left">
          <form class="form">
            <h3>Do you have asthma?</h3>
            <div class="switch-field">
              <input type="radio" id="asthma-y" name="asthma" value="yes" />
              <label for="asthma-y">Yes</label>
              <input type="radio" id="asthma-n" name="asthma" value="no" />
              <label for="asthma-n">No</label>
            </div>
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" class="blobEligibility2">
              <path fill="#89c2d9"
                d="M51.2,-23.7C55.7,-2.7,41.4,17.3,24.1,28.9C6.8,40.5,-13.6,43.6,-23.4,35.7C-33.1,27.8,-32.2,8.8,-26.5,-13.8C-20.9,-36.4,-10.4,-62.6,6.4,-64.7C23.3,-66.8,46.6,-44.8,51.2,-23.7Z"
                transform="translate(100 100)" />
            </svg>
          </form>
        </div>

        <div class="form-right">
          <form class="form">
            <h3>Do you have high blood pressure?</h3>
            <div class="switch-field">
              <input type="radio" id="highbp-y" name="highbp" value="yes" />
              <label for="highbp-y">Yes</label>
              <input type="radio" id="highbp-n" name="highbp" value="no" />
              <label for="highbp-n">No</label>
            </div>

          </form>
        </div>
      </div>

      <!-- <hr> -->
      <div class="row">
        <div class="form-left">
          <form class="form">

            <h3>Do you have any cancer history?</h3>
            <div class="switch-field">
              <input type="radio" id="cancer-y" name="cancer" value="yes" />
              <label for="cancer-y">Yes</label>
              <input type="radio" id="cancer-n" name="cancer" value="no" />
              <label for="cancer-n">No</label>
            </div>

          </form>
        </div>

        <div class="form-right">
          <form class="form">

            <h3>Do you have diabetes?</h3>
            <div class="switch-field">
              <input type="radio" id="diabetes-y" name="diabetes" value="yes" />
              <label for="diabetes-y">Yes</label>
              <input type="radio" id="diabetes-n" name="diabetes" value="no" />
              <label for="diabetes-n">No</label>
            </div>

          </form>
        </div>
      </div>

      <!-- <hr> -->
      <div class="row">
        <div class="form-left">
          <form class="form">

            <h3>Do you have any heart disease?</h3>
            <div class="switch-field">
              <input type="radio" id="HeartDiesease-y" name="HeartDiesease" value="yes" />
              <label for="HeartDiesease-y">Yes</label>
              <input type="radio" id="HeartDiesease-n" name="HeartDiesease" value="no" />
              <label for="HeartDiesease-n">No</label>
            </div>

          </form>
        </div>

        <div class="form-right">
          <form class="form">

            <h3>Do you have Hepatitis?</h3>
            <div class="switch-field">
              <input type="radio" id="Hepatitis-y" name="Hepatitis" value="yes" />
              <label for="Hepatitis-y">Yes</label>
              <input type="radio" id="Hepatitis-n" name="Hepatitis" value="no" />
              <label for="Hepatitis-n">No</label>
            </div>

          </form>
        </div>
      </div>

      <!-- <hr> -->
      <div class="row">
        <div class="form-left">
          <form class="form">

            <h3>Do you have Anemia?</h3>
            <div class="switch-field">
              <input type="radio" id="anemia-y" name="anemia" value="yes" />
              <label for="anemia-y">Yes</label>
              <input type="radio" id="anemia-n" name="anemia" value="no" />
              <label for="anemia-n">No</label>
            </div>

          </form>
        </div>

        <div class="form-right">
          <form class="form">

            <h3>Do you have Tuberculosis(TB)?</h3>
            <div class="switch-field">
              <input type="radio" id="Tuberculosis-y" name="Tuberculosis" value="yes" />
              <label for="Tuberculosis-y">Yes</label>
              <input type="radio" id="Tuberculosis-n" name="Tuberculosis" value="no" />
              <label for="Tuberculosis-n">No</label>
            </div>

          </form>
        </div>
      </div>

      <hr>

      <h1>A little about your lifestyle.</h1>

      <div class="row-lifestyle">
        <div class="form-left">
          <form class="form">

            <h3>How often do you smoke?</h3>

            <input type="range" class="custom-range" min="0" max="2" id="customRange2">
            <div class="range">
              <label for="">Never</label>
              <label for="">Frequently</label>
              <label for="">Extreme</label>
            </div>

          </form>
        </div>

        <div class="form-right">
          <form class="form">

            <h3>How often do you drink?</h3>
            <input type="range" class="custom-range" min="0" max="2" id="customRange2">
            <div class="range">
              <label for="">Never</label>
              <label for="">Frequently</label>
              <label for="">Extreme</label>
            </div>

          </form>
        </div>
      </div>

      <div class="row-lifestyle">
        <div class="form-left">
          <form class="form">

            <h3>Are you in depression?</h3>
            <input type="range" class="custom-range" min="0" max="2" id="customRange2">
            <div class="range">
              <label for="">No</label>
              <label for="">Medium</label>
              <label for="">Severe</label>
            </div>


          </form>
        </div>
      </div>
      <hr>

      <div class="row-depression">
        <div class="form-left">
          <form class="form">

            <h3>When did you last donate?</h3>
            <div class="input-container cta">
              <label class="checkbox-container">
                <input type="checkbox" name="remember" value="false">
                <span class="checkmark mt-1"></span>
                (Not Applicable)
              </label>
              <div class="input-container lname">
                <input id="DOB" name="dob" type="date" style="margin-bottom: 0;">
              </div>
            </div>

          </form>
        </div>

      </div>

    </div>
    <div class="btn">
      <button class="signup-btn" type="submit">Submit</button>
    </div>

  </div>



  <script>
    const card = document.querySelectorAll(".card");

    function clickCard() {
      this.classList.toggle('is-clicked');
    }
    card.forEach((card) => card.addEventListener("click", clickCard));

  </script>


 <!-- ///////////////NAVBAR//////////////// -->
  <script type="text/javascript">
    // jquery for toggle dropdown menus
    $(document).ready(function () {
      //toggle sub-menus
      $(".sub-btn").click(function () {
        $(this).next(".sub-menu").slideToggle();
      });

      //toggle more-menus
      $(".more-btn").click(function () {
        $(this).next(".more-menu").slideToggle();
      });
    });

    //javascript for the responsive navigation menu
    var menu = document.querySelector(".menu");
    var menuBtn = document.querySelector(".menu-btn");
    var closeBtn = document.querySelector(".close-btn");

    menuBtn.addEventListener("click", () => {
      menu.classList.add("active");
    });

    closeBtn.addEventListener("click", () => {
      menu.classList.remove("active");
    });

    //javascript for the navigation bar effects on scroll
    window.addEventListener("scroll", function () {
      var header = document.querySelector("header");
      header.classList.toggle("sticky", window.scrollY > 0);
    });
  </script>


  <!-- //////////////////////////////////// -->


  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>
  <!-- FOR NAVBAR -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

</body>



<!-- register24:03-->

</html>