<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
  <title>Eligibility</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
  <!-- fontawesome 5 webkit from abdullah -->
  <script src="https://kit.fontawesome.com/af332973a8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/eligibilityTest.css">
  <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>    
	<![endif]-->

 </head>

<body>

  <div class="split-screen">
    <div class="left col-sm-12 col-md-4">
      <section class="copy">
        <h1 class="font-weight-light">
          <div class="brand-name"> Am I Eligible </div> for donating?
        </h1>
        <p class="font-weight-lighter">The answer is important for both you and the recipient. Let's have a quic check
        </p>
      </section>
    </div>

    <div class="right col-sm-12 col-md-8">
      <form action="#" class="py-10">
        <section class="mt-1.50">
          <p class="text-bold fs-6 my-1.5">Let's look into your <span class="fw-bold"
              style="color: #b9375e;">Comorbidities</span></p>
        </section>

        <fieldset class="row mb-3">
          <legend class="fw-bold my-0 col-form-label pt-0">Do you have High Blood Pressure?</legend>
          <div class="mx-5 col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="HBP" id="HBP-Y" value="option1">
              <label class="form-check-label" for="HBP-Y">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="HBP" id="HBP-N" value="option2">
              <label class="form-check-label" for="HBP-N">No</label>
            </div>
        </fieldset>

        <fieldset class="row mb-3">
          <legend class="fw-bold my-0 col-form-label pt-0">Do you have Heart Disease?</legend>
          <div class="mx-5 col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="HD" id="HD-Y" value="option1">
              <label class="form-check-label" for="HD-Y">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="HD" id="HD-N" value="option2">
              <label class="form-check-label" for="HD-N">No</label>
            </div>
        </fieldset>

        <fieldset class="row mb-3">
          <legend class="fw-bold my-0 col-form-label pt-0">Are you a Kidney Patient?</legend>
          <div class="mx-5 col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Kidney" id="Kidney-Y" value="option1">
              <label class="form-check-label" for="Kidney-Y">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Kidney" id="Kidney-N" value="option2">
              <label class="form-check-label" for="Kidney-N">No</label>
            </div>
        </fieldset>

        <fieldset class="row mb-3">
          <legend class="fw-bold my-0 col-form-label pt-0">Do you have any cancer history?</legend>
          <div class="mx-5 col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Kidney" id="Kidney-Y" value="option1">
              <label class="form-check-label" for="Kidney-Y">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Kidney" id="Kidney-N" value="option2">
              <label class="form-check-label" for="Kidney-N">No</label>
            </div>
        </fieldset>

        <fieldset class="row mb-3">
          <legend class="fw-bold my-0 col-form-label pt-0">Are you Diabetic?</legend>
          <div class="mx-5 col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Kidney" id="Kidney-Y" value="option1">
              <label class="form-check-label" for="Kidney-Y">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Kidney" id="Kidney-N" value="option2">
              <label class="form-check-label" for="Kidney-N">No</label>
            </div>
        </fieldset>



        <fieldset class="row mb-3">
          <legend class="fw-bold my-0 col-form-label pt-0">Are you a Anemic?</legend>
          <div class="mx-5 col-sm-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Anemia" id="Anemia-Y" value="option1">
              <label class="form-check-label" for="Anemia-Y">Yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Anemia" id="Kidney-N" value="option2">
              <label class="form-check-label" for="Anemia-N">No</label>
            </div>
        </fieldset>

        <fieldset class="row mb-3 px-10">
          <legend class="fw-bold my-0 col-form-label pt-0">Which of the follwings are applicabe for you currently?
          </legend>
          <div class="mx-0 col-sm-12">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Drinking</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">Smoking</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Depression</label>
            </div>
        </fieldset>

        <p class="">What is your last date of donation?</p>
        <!-- ########################################################## -->

        <button class="signup-btn" type="submit">Submit</button>
      </form>
    </div>

    

  </div>

  
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        



  <!-- @ Minhaz ei script niye confusion hocche, ja lagbe na delte kore dish -->
  <!-- 
  <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>    -->  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</body>


<!-- register24:03-->

</html>