<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
    <title>Eligibility</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/eligibilityTest.css" >
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

        <div class="split-screen">
            <div class="left col-sm-12 col-md-4">
                <section class="copy">
                    <h2>See if you have any comorbidities</h2>
                    <p>Avoid the health risk of both Donor and Donee</p>
                </section>
            </div>
    
            <div class="right">
                <form method="Post">
                    <section class="copy">
                        <h2 class="fs-5 fw-normal">Check A box if the answer is <span class="fw-bold" style="color: ;"> Yes</span></h2>
                    </section>
                    <fieldset class="row mb-3">
                      <legend class="col-form-label pt-0">Kidney Disease</legend>
                      <div class="col-sm-10">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
                          <label class="form-check-label" for="gridRadios1">
                            First radio
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="option2">
                          <label class="form-check-label" for="gridRadios2">
                            Second radio
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3" disabled>
                          <label class="form-check-label" for="gridRadios3">
                            Third disabled radio
                          </label>
                        </div>
                      </div>
                    </fieldset>
                    <div class="row mb-3">
                      <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck1">
                          <label class="form-check-label" for="gridCheck1">
                            Example checkbox
                          </label>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
            </div>
            
    
        </div>

        <script>
            function toggleEyeButtonForPassword(){
                var input = document.getElementById("password");
                var eye = document.getElementById("hide-eye-password");
                var eye_slash = document.getElementById("hide-eye-slash-password");

                if(input.type === 'password'){
                    input.type = "text";
                    eye.style.display = "block";
                    eye_slash.style.display = "none";
                }
                else{
                    input.type = "password";
                    eye.style.display = "none";
                    eye_slash.style.display = "block";
                }
            }

            function toggleEyeButtonForConfirmPassword(){
                var input = document.getElementById("confirm-password");
                var eye = document.getElementById("hide-eye-confirm-password");
                var eye_slash = document.getElementById("hide-eye-slash-confirm-password");

                if(input.type === 'password'){
                    input.type = "text";
                    eye.style.display = "block";
                    eye_slash.style.display = "none";
                }
                else{
                    input.type = "password";
                    eye.style.display = "none";
                    eye_slash.style.display = "block";
                }
            }
        </script>
        <script src="assets/js/jquery-3.2.1.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        
        
      









    <!-- <div class="main-wrapper  account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form action="" method="Post" class="form-signin">
						<div class="account-logo">
                            <a href="#"><img src="img/Logo-01.png" alt=""></a>
                        </div>
                        <% if(typeof alert != 'undefined') { %>
                            <% alert.forEach(function(error) { %>
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <%= error.msg %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">×</span>
                                    </button>
                                  </div>
                            <% }) %>
                        <% } %> -->
                        <!-- <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username">
                        </div> -->
                        <!-- <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="form-group">
                            <label>Repeat Password</label>
                            <input type="password" class="form-control" name="repeat_password" required>
                        </div>
                        
                        <div class="form-group checkbox">
                            <label>
                                <input type="checkbox" required> I have read and agree the <a href="/terms_and_conditions" style="color: blue;">Terms & Conditions</a>
                            </label>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Signup</button>
                        </div>
                        <div class="text-center login-link">
                            Already have an account? <a href="/login">Login</a>
                            <br>
                            <a href= "/resetpassword">Forget Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- <script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>


<!-- register24:03-->
</html>