<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
    <title>KYC - G L E A M</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/KYC.css" >
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <div class="container py-5">

        <!-- For demo purpose -->
        <header class="text-dark text-center">
            <h1 class="display-4 text-bold">Identity Verification</h1>
            <p class="lead mb-0">Helps us to make this platform safe for all</p>
            <p class="mb-5 font-weight-light">Learn more about our KYC policies
                <a href="https://www.facebook.com/minhaz.kamal9900" class="text-white">
                    <u style="color: blue;">here</u>.
                </a>
            </p>
        </header>

        <!-- Front-side -->
        <div class="row py-4">
            <div class="col-lg-6 mx-auto">
    
                <!-- Upload image input-->
                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                    <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                    <label id="upload-label" for="upload" class="font-weight-normal m-0 rounded-pill p-2 bg-dark text-white"><i class="fa fa-id-card" aria-hidden="true"></i>  Front Side</label>
                    <div class="input-group-append">
                        <label for="upload" class="btn btn-pink m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2"></i><small class="font-weight-bold">Choose file</small></label>
                    </div>
                </div>
    
                <!-- Uploaded image area-->
                <p class="font-italic text-white text-center">Front Preview</p>
                <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
    
            </div>
        </div>

        <!-- Back-side -->
        <div class="row py-4">
            <div class="col-lg-6 mx-auto">
    
                <!-- Upload image input-->
                <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                    <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                    <label id="upload-label" for="upload" class="font-weight-normal m-0 rounded-pill p-2 bg-dark text-white"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>  Back Side</label>
                    <div class="input-group-append">
                        <label for="upload" class="btn btn-pink m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2"></i><small class="text-uppercase font-weight-bold">Choose file</small></label>
                    </div>
                </div>
    
                <!-- Uploaded image area-->
                <p class="font-italic text-white text-center">Back Preview</p>
                <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
    
            </div>
        </div>
    </div>

    <script>
        /*  ==========================================
                    SHOW UPLOADED IMAGE
        * ========================================== */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
            }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    /*  ==========================================
        SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById( 'upload' );
    var infoArea = document.getElementById( 'upload-label' );

    input.addEventListener( 'change', showFileName );
    function showFileName( event ) {
    var input = event.srcElement;
    var fileName = input.files[0].name;
    infoArea.textContent = 'File name: ' + fileName;
    }
    </script>


        

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>


<!-- register24:03-->
</html>