<!DOCTYPE html>
<html lang="en">


<!-- register24:03-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
    <title>KYC - G L E A M</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/KYC.css" >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    
    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <div class="container py-5">

        <!-- For demo purpose -->
        <header class="text-dark text-center">
            <h1 class="display-4 text-bold">Identity Verification</h1>
            <p class="lead mb-0">Helps us to make this platform safe for all</p>
            <p class="mb-5 font-weight-light">Learn more about our KYC policies
                <a href="#" class="text-white">
                   <strong> <u style="color: #2f6690;">here</u></strong>.
                </a>
            </p>
        </header>

        <!-- Front-side -->
    <form class="form-container" method="POST" enctype="multipart/form-data">
        <!-- Alert Message -->
        <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
            <% }) %>
        <% } %>
        
        <div class="py-4">
            <div class="col-lg-6 mx-auto">
    
                <!-- Upload image input-->
                <div class="input-group mb-3 px-2 py-2  bg-white shadow-sm">
                    <input id="upload-front" type="file" name="front_side" onchange="readURLfront(this);" class="form-control border-0" accept="image/png, image/jpeg, image/jpg">
                    <label id="upload-label-front" for="upload-front" class="font-weight-light text-muted"><i class="fa fa-id-card" aria-hidden="true"></i>  Front Side</label>
                    <!-- <label id="upload-label" for="upload" class="font-weight-normal m-0 rounded-pill p-2 bg-dark text-white"><i class="fa fa-id-card" aria-hidden="true"></i>  Front Side</label> -->
                    <div class="input-group-append">
                        <label for="upload-front" class="btn btn-pink m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2"></i><small class="font-weight-bold">Choose file</small></label>
                    </div>
                </div>
    
                <!-- Uploaded image area-->
                <!-- <p class="font-weight-normal m-0 rounded-pill p-2 bg-dark text-white text-center"><i class="fa fa-id-card" aria-hidden="true"></i> Front Side Preview</p> -->
                <p class="font-italic text-center" id="upload-label-front-text"><i class="fa fa-id-card" aria-hidden="true" style="color: black;"></i> Front Preview</p>
                <div class="image-area mt-4"><img id="imageResultFront" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" ></div>
    
            </div>
        </div>
        

        <!-- Back-side -->
        
        <div class="py-4">
            <div class="col-lg-6 mx-auto">
    
                <!-- Upload image input-->
                <div class="input-group mb-3 px-2 py-2  bg-white shadow-sm">
                    <input id="upload-back" type="file" name="back_side" onchange="readURLback(this);" class="form-control border-0" accept="image/png, image/jpeg, image/jpg">
                    <label id="upload-label-back" for="upload-back" class="font-weight-light text-muted"><i class="fa fa-credit-card" aria-hidden="true"></i>  Back Side</label>
                    <!-- <label id="upload-label" for="upload" class="font-weight-normal m-0 rounded-pill p-2 bg-dark text-white"><i class="fa fa-id-card" aria-hidden="true"></i>  Front Side</label> -->
                    <div class="input-group-append">
                        <label for="upload-back" class="btn btn-pink m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2"></i><small class="font-weight-bold">Choose file</small></label>
                    </div>
                </div>
    
                <!-- Uploaded image area-->
                <!-- <p class="font-weight-normal m-0 rounded-pill p-2 bg-dark text-white text-center"><i class="fa fa-id-card" aria-hidden="true"></i> Front Side Preview</p> -->
                <p class="font-italic text-center" id="upload-label-back-text" style="color: black;"> <i class="fa fa-credit-card" aria-hidden="true"></i> Back Preview</p>
                <div class="image-area mt-4"><img id="imageResultBack" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block" ></div>
    
            </div>
        </div>
        
        <button class="signup-btn" type="submit">Submit</button>
    </form>

    <script>
    /*  ==========================================
            SHOW FRONT SIDE UPLOADED IMAGE
    * ========================================== */
    function readURLfront(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResultFront')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
            }
    }

    $(function () {
        $('#upload-front').on('change', function () {
            readURLfront(input_front);
        });
    });

    /*  ==========================================
            SHOW BACK SIDE UPLOADED IMAGE
    * ========================================== */
    function readURLback(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResultBack')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
            }
    }

    $(function () {
        $('#upload-back').on('change', function () {
            readURLback(input_back);
        });
    });

    /*  ==========================================
                SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input_front = document.getElementById( "upload-front" );
    var infoArea_front = document.getElementById( "upload-label-front-text" );

    input_front.addEventListener( "change", showFileNameFront );

    function showFileNameFront( event ) {
    var input_front = event.srcElement;
    var fileName = input_front.files[0].name;
    infoArea_front.textContent = "File Name: " + fileName;
    }


    var input_back = document.getElementById( "upload-back" );
    var infoArea_back = document.getElementById( "upload-label-back-text" );

    input_back.addEventListener( "change", showFileNameBack );

    function showFileNameBack( event ) {
    var input_back = event.srcElement;
    var fileName = input_back.files[0].name;
    infoArea_back.textContent = "File Name: " + fileName;
    }
    </script>


        

    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>


<!-- register24:03-->
</html>