<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/Logo-01.png">
    <title>Login - G L E A M</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css" >
</head>
<body>
    <div class="split-screen">
        <div class="left">
            <form method="POST">
                <section class="copy">
                    <h2>Log In</h2>
                    <div class="signup-container">
                        <p>Don't have an account? 
                            <a href="/signup">
                                <strong>Create an account</strong>
                            </a>
                        </p>
                    </div>
                </section>
                <!-- Alert Message -->
                <% if(typeof alert != 'undefined') { %>
                    <% alert.forEach(function(error) { %>
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <%= error.msg %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    <% }) %>
                <% } %>

                <div class="input-container email">
                    <!-- <label for="email">Email</label> -->
                    <input id="email" name="email" placeholder="Email" type="email" required>
                </div>

                <div class="input-container password">
                    <!-- <label for="password">Password</label> -->
                    <input id="password" name="password" placeholder="Password" type="password" required>
                    <span class="eye-password" onclick="toggleEyeButtonForPassword()">
                        <i id="hide-eye-password" class="fa fa-eye"></i>
                        <i id="hide-eye-slash-password" class="fa fa-eye-slash"></i>
                    </span>
                </div>

                <div class="input-container cta">
                    <label class="checkbox-container">
                        <input type="checkbox" name="remember" value="false">
                        <span class="checkmark"></span>
                        Remember me
                        <a href="#">Forgot Password?</a>
                    </label>
                </div>

                <button class="login-btn" type="submit">Log In</button>
                <br>
                <h5 id="or-button" style="margin-top:1rem; margin-bottom: 2rem;">or</h5>
                <!-- <h2 style="text-align: center;">Log in with</h2>     -->
                <div class="jumbotron text-center" style="background:transparent !important; padding: 0% !important;">
                    <!-- <h1><span class="fa fa-lock"></span> Node Authentication</h1> -->
                    <!-- <h2>Sign Up with</h2> -->
                
                    <!-- <p>Login or Register with:</p> -->
                
                    <a href="/login-google" class="btn btn-outline-dark btn-block"><span class="fa fa-google"></span> Google</a>
                    <a href="/login-facebook" class="btn btn-outline-dark btn-block"><span class="fa fa-facebook-square"></span> Facebook</a>
                
                </div>
           </form>

        </div>

        <div class="right">
            <section class="copy">
                <h1>Welcome Back <br> to <br> G L E A M</h1>
                <p>Donating blood is a great act of kindness.</p>
            </section>
        </div>
        

    </div>
    <script>
        function toggleEyeButtonForPassword(){
            var input = document.getElementById("password");
            var eye = document.getElementById("hide-eye-password");
            var eye_slash = document.getElementById("hide-eye-slash-password");

            if(input.type === 'password'){
                input.type = "text";
                eye.style.display = "block";
                eye_slash.style.display = "none";
            }
            else{
                input.type = "password";
                eye.style.display = "none";
                eye_slash.style.display = "block";
            }
        }
    </script>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>