<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
    <title>My-Profile</title>
    <!-- ALL CSS RESET -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/cssReset.css"> -->
    <!-- BOOT STRAP v4.3.1 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <!-- FOR NAVBAR -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- fontawesome 5 webkit from abdullah -->
    <!-- <link rel="stylesheet" type="text/css" href="assets/css/style.css">  -->
    <script src="https://kit.fontawesome.com/af332973a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/myProfile.css">

    <!-- FOR NAVBAR -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

    <!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>    
	<![endif]-->
</head>

<body>

    <div class="popup">
        <div class="popup__container">
            <button type="button" class="close-button"></button>
            <div class="row-filter">
                <div class="filter">
                    <h1>Add Filters</h1>
                </div>
                <br>
                <div class="row-filter">
                    <div class="col-md-12 mb-4">
                        <select name="blood_group" class="form-control" id="basic_bg" tabindex="-1" "
											aria-hidden=" true" required>
                            <option disabled selected value="">Blood Group</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                    </div>
                </div>
                <div class="row-filter">
                    <div class="col-md-12 mb-4">
                        <select name="gender" class="form-control" id="basic_gender" tabindex="-1" "
										aria-hidden=" true" required>
                            <option disabled selected value="">District</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="row-filter">
                    <div class="col-md-12 mb-4">
                        <select name="gender" class="form-control" id="basic_gender" tabindex="-1" "
										aria-hidden=" true" required>
                            <option disabled selected value="">District</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>

                </div>
                <div class="btn-01">
                    <button class="reset-btn" type="submit">Reset</button>
                    <button class="apply-btn" type="submit">Apply</button>
                </div>

            </div>
        </div>
    </div>
    <div class="popup-button"><i class="fas fa-filter fa-2x"></i></div>

    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                    class="rounded-circle" width="200">
                                <div class="mt-3">
                                    <h4>John Doe</h4>
                                    <p class="text-danger mb-1" style="font-weight: 500; font-size: x-large;">AB+</p>
                                    <!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                                    <!-- <button class="btn btn-primary">Follow</button> -->
                                    <button class="btn btn-outline-danger">Notifications</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="tab">
                            <button class="tablinks" onclick="openCity(event, 'London')"
                                id="defaultOpen">General</button>
                            <button class="tablinks" onclick="openCity(event, 'Paris')">My Donations</button>
                            <button class="tablinks" onclick="openCity(event, 'Tokyo')">My Requests</button>
                        </div>



                    </div>
                </div>
                <div class="col-md-8">
                    <div id="London" class="tabcontent">



                        <div class="row gutters-sm">
                            <!-- <div id="London" class="tabcontent"> -->
                            <!-- <div class="col-sm-6 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <div id="myDIV">Active</div>
                                        <div class="btn">
                                            <button onclick="myFunction()" class="activate-button">Click Here</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-4 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h4>Eligibility Score</h4>
                                        <h1 class="eligibility-score">8</h1>
                                        <h6 class="text">out of 10</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h4>Responded</h4>
                                        <h6 class="text">to</h6>
                                        <h1 class="no-of-responds">50</h1>
                                        <h6 class="text">requests</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h4>Requested</h4>
                                        <h6 class="text">for</h6>
                                        <h1 class="no-of-requests">5</h1>
                                        <h6 class="text">bag(s)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        Kenneth Valdez
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Contact Number</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        (239) 816-9029
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Email Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        abcd@gmail.com
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Date of Birth</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        03/28/1999
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Blood Group</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        AB+
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Gender</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        Female
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        Bay Area, San Francisco, CA
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="display: flex; justify-content: center;">
                                    <div class="col-sm-6">
                                        <button class="edit-profile-btn">Edit profile</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="Paris" class="tabcontent">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Donee's Name</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Date of Donation</th>
                                        <th scope="col">Quantity(bag/s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark Zuckerberg</td>
                                        <td>Square Hospitals,Dhaka</td>
                                        <td>09/13/2021</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Mark</td>
                                        <td>Square Hospitals,Dhaka</td>
                                        <td>09/13/2021</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Mark</td>
                                        <td>Square Hospitals,Dhaka</td>
                                        <td>09/13/2021</td>
                                        <td>8</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="Tokyo" class="tabcontent">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Donee's Name</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Date of Donation</th>
                                        <th scope="col">Quantity(bag/s)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>George Bush Bush</td>
                                        <td>United Hospitals,Dhaka</td>
                                        <td>09/13/2021</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>George Bush</td>
                                        <td>Square Hospitals,Dhaka</td>
                                        <td>09/13/2021</td>
                                        <td>8</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>George Bush</td>
                                        <td>Apollo Hospitals,Dhaka</td>
                                        <td>09/13/2021</td>
                                        <td>8</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

    <script>
        function myFunction() {
            var x = document.getElementById("myDIV");
            if (x.innerHTML === "Active") {
                x.innerHTML = "Inactive";
            } else {
                x.innerHTML = "Active";
            }
        }
    </script>


    <script>
        const callButton = document.querySelector('.popup-button');
        const popup = document.querySelector('.popup');
        const closeButton = popup.querySelector('.close-button');

        popupToggle = () => {
            popup.classList.toggle('popup_opened');
        }

        callButton.addEventListener('click', popupToggle);

        closeButton.addEventListener('click', popupToggle);

        closeOnBlack = (event) => {
            if (event.target === event.currentTarget) popupToggle();
        }
        popup.addEventListener('click', closeOnBlack);
    </script>


</body>

</html>