<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Logo-01.png">
    <title>New Request</title>
    <!-- ALL CSS RESET -->
    <link rel="stylesheet" type="text/css" href="/css/cssReset.css">
    <!-- BOOT STRAP 4.3.1-->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- font awosome 4 -->
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- STYLE SHEET for this page -->
    <link rel="stylesheet" type="text/css" href="/css/newRequest.css">

    <!-- from template -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body>

    <main>
        <h1>New Request</h1>
        <form action="#">
            <h5 class="">Donation Details</h5>
            <div class="form-group">
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Patient's Name">
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Emergency Contact Person">
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Emergency Contact Number">
                    </div>
                </div>

                <div class="form-row"></div>

            </div>

        </form>
    </main>

    <footer>

    </footer>







    <script>

    </script>
</body>

</html>