@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #2f6690;
    --primary-pink: #b9375e;
}

html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    background-image: url(/img/wavelogin.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover{
    text-decoration: underline;
}

.brand-name {
    font-weight: 900;
    display: inline;
}

@media screen and (max-width:900px) {
    .brand-name {
        font-weight: 800;
        display: block;
    }   
    
}
.copy{
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
    /* border-left: 10px solid var(--primary-blue);
    border-radius: .50% 20% / 10% .40%; */
    text-align: center;
}

.form-body {
    text-align: center;
    /* border-left: 10px solid var(--primary-blue);
    border-radius: .50% 20% / 10% .40%; */
}

.section-legend {
    text-align: center;
    /* border-left: 10px solid var(--primary-blue);
    border-radius: .50% 20% / 10% .40%; */
}


label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
label.checkbox-container{
    display: flex;
    justify-content: space-between;
}



.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
}

.checkbox-container input:checked~ .checkmark{
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}

.checkmark{
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    top: -2px;
    left: 0;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~ .checkmark:after{
    display: block;
}

.checkbox-container .checkmark:after{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 6px;
    height: 12px;
    left: 6px;
    top: 2px;
    transform: rotate(45deg);
}

.signup-btn{
    display: block;
    width: 8rem;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    background: var(--primary-blue);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
}

.signup-btn:hover{
    background: #3a7ca5;
    cursor: pointer;
}



@media screen and (min-width:900px) {
    .left, .right{
        display: flex;
        width: 100%;
        height: auto;
    }
    
}

/* ############################################ */
/* making the radio buttons invinsible */
/* .form-check .form-check-input { */
    /* display: none; */
/* } */

/* button design for the options */
.btn-ans {
    width: 3rem;
    padding: 1rem;
    padding-right: 1.5rem;
    background: var(--primary-pink);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.btn-ans:hover {
    background: black;
    color: white;
    font-weight: 700;
}

.btn-ans:hover {
    background: black;
    color: white;
    font-weight: 700;
}


.btn-ans:focus {
    background: black;
    color: white;
    font-weight: 700;
}


button,
[role="button"] {
    width: 3rem;
    padding: 1rem;
    padding-right: 1.5rem;
    background: var(--primary-pink);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

button:active,
button:focus,
[role="button"][aria-pressed="true"] {
    background: rgba(0, 128, 0, 0.589);
    color: white;
    /* font-weight: 700; */
}
