@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #2f6690;
    --primary-pink: #b9375e;
}

html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    background-image: url(/img/wavelogin.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover{
    text-decoration: underline;
}

.brand-name {
    font-weight: 900;
    display: inline;
}

@media screen and (max-width:900px) {
    .brand-name {
        font-weight: 800;
        display: block;
    }   
    
}
.copy{
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
    /* border-left: 10px solid var(--primary-blue);
    border-radius: .50% 20% / 10% .40%; */
    text-align: center;
}

.form-body {
    margin-left: 15rem;

 /* css for the form body */
}

.section-legend {
    /* text-align: center; */
    margin-left: -5rem;
    padding-left: 2rem;
    padding-bottom: 1.7rem;
    border-left: 6px solid var(--primary-pink);
    border-radius: .50% 20% / 10% .40%;
}


.signup-btn{
    display: block;
    width: 10%;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    background: var(--primary-blue);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
}

.signup-btn:hover{
    background: #3a7ca5;
    cursor: pointer;
}



/* button,
[role="button"] {
    width: 3rem;
    padding: 1rem;
    padding-right: 1.5rem;
    background: var(--primary-pink);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

button:active,
button:focus,
[role="button"][aria-pressed="true"] {
    background: rgba(0, 128, 0, 0.589);
    color: white;
    /* font-weight: 700; */



.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
  }
  
  .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1rem;
    width: 3rem;
    border: none;
    overflow: hidden;
  }
  
  .switch-field label {
    background-color: white ;
    color: black;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    padding: 1rem 1.8rem;
    margin-right: -1px;
    border: none;
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
    transition: all 0.2s ease-in-out;
  }
  
  .switch-field label:hover {
    cursor: pointer;
    background-color: var(--primary-pink);
    color: white;
  }
  
  .switch-field input:checked + label {
    background-color: var(--primary-pink);
    color: white;
    box-shadow: none;
  }
  
  .switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  
  .switch-field label:last-of-type {
    border-radius: 2rem;
  }
  
  