@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #2f6690;
    --primary-pink: #b9375e;
}

html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    background-image: url(/img/wavelogin.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover{
    text-decoration: underline;
}

main {
    width: 80%;
    margin: auto;
}

.row  {
    margin-bottom: .5rem;
}

.copy{
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 4rem; */
    /* border-left: 10px solid var(--primary-blue);
    border-radius: .50% 20% / 10% .40%; */
    /* text-align: center;
}

.form-body {
    width: 80%;
    margin: auto; */

 /* css for the form body */
/* }

.section-legend { */
    /* text-align: center; */
    /* padding-left: 2rem;
    padding-bottom: 1.7rem;
    border-left: 6px solid var(--primary-pink);
    border-radius: .50% 20% / 10% .40%;
}


*/

/* This part is for the radio-buttons as buttons effect  */
/* .switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
  }
  
  .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1rem;
    width: 3rem;
    border: none;
    overflow: hidden;
  }
  
  .switch-field label {
    background-color: white ;
    color: black;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    padding: 1rem 1.8rem;
    margin-right: -1px;
    border: none; */
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
    /* transition: all 0.2s ease-in-out;
  }
  
  .switch-field label:hover {
    cursor: pointer;
    background-color: var(--primary-pink);
    color: white;
  }
  
  .switch-field input:checked + label {
    background-color: var(--primary-pink);
    color: white;
    box-shadow: none;
  }
  
  .switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
  }
  
  .switch-field label:last-of-type {
    border-radius: 2rem;
  } */
  
*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    --primary-blue: #2f6690;
    --primary-pink: #b9375e;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    height: 100%;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.card{
    position: relative;
    max-width: 300px;
    height: 180px;
    background: #fff;
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    background: rgb(100,223,223);
    background: linear-gradient(0deg, rgba(100,223,223,1) 0%, rgba(244,172,183,1) 0%);
    font-family: 'Montserrat',sans-serif;
    /* border-radius: 10px; */
    -webkit-box-shadow: 1px 2px 11px -3px #000000; 
    box-shadow: 1px 2px 11px -3px #000000;

}

.card:hover{
    cursor: pointer;
}
.card.is-clicked{
    height: 420px;

}

.content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #22223b;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;

}
.card.is-clicked .content{
    visibility: visible;
    opacity: 1;
    margin-top: 20px;
    transition-delay: 0.5s;
}

h2{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
}

h4{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}

p{
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}

hr{
    border-width: 0.5px;
    background: rgba(0, 0, 0, 0.404);
    margin-bottom: 2rem;
}

.hr1{
    border-width: 0.5px;
    background: rgba(0, 0, 0, 0.404);
    margin-bottom: 2rem;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
  }
  
  .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1rem;
    width: 3rem;
    border: none;
    overflow: hidden;
  }
  
  .switch-field label {
    background-color: var(--primary-pink) ;
    color: white;
    line-height: 1;
    text-align: center;
    padding: 0.8rem 2rem;
    margin-right: -1px;
    border: none;
    margin-right:50px ;
    border-radius: 15px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: large;

  }
  
  .switch-field label:hover {
    cursor: pointer;
    background-color: var(--primary-pink);
    color: white;
    transition: 0.2s ease-in-out;
  }
  
  .switch-field input:checked + label {
    background-color: rgba(11, 175, 11, 0.89);
    color: white;
    box-shadow: none;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    transition: 0.3s ease-in-out;
  }


h3 {
	font-size: 22px;
	margin-bottom: 8px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}


.container-form{
    margin: 20px;
    width: 100%;
}

.row{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 80px;
}

.signup-btn{
    display: block;
    width: 100%;
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
    background: var(--primary-blue);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
    font-family: 'Montserrat',sans-serif;
}

.signup-btn:hover{
    background: #3a7ca5;
    cursor: pointer;
} 
.btn{
    width: 50%;
}

.form-left{
    position: relative;
    flex: 1;
    max-width: 50%;
    height: 150px;
    margin: 10px;
    border-radius: 5px;
    
}

@media(max-width:800px){
    .row{
        margin-left: 20px ;
    }
    .form-left{
        flex: 100%;
        max-width: 100%;
    }
}

.form-right{
    position: relative;
    flex: 1;
    max-width: 50%;
    height: 150px;
    margin: 10px;
    border-radius: 5px;

}

@media(max-width:800px){
    .row{
        margin-left: 20px ;
    }
    .form-right{
        flex: 100%;
        max-width: 100%;
    }
}