@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    font-family: 'Montserrat',sans-serif;
    background: transparent;
    
}

body{
    background: url(/img/waveEmailSearch.png);
    background-size: cover;
}

.bg-modal {
	/* background-color: black; */
	width: 100%;
	height: 100%;
	/* position: absolute; */
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}



.modal-contents {
	height: 27em;
	width: 50em;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2rem;

    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
    border: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
}

input {
    display: inline;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
    margin-top: 1.25rem;
}

input::placeholder{
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Montserrat',sans-serif;
}

.signup-btn{
    display: block;
    width: 100%;
    background: #2f6690;
    color: white;
    font-weight: 500;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
}

.signup-btn:hover{
    background: #3a7ca5;
    cursor: pointer;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    margin-bottom: 2rem;

}

.login-container{
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: #b9375e;
}

a:hover{
    text-decoration: underline;
    color: #d86f8f;

}


@media screen and (max-width:715px) {
    .modal-contents{
        width: 75%;
        height: 60%;
    }

}

@media screen and (max-width:480px) {
    .modal-contents{
        width: 80%;
        height: 60%;
    }
}

@media screen and (max-width:415px) {
    .modal-contents{
        width: 80%;
        height: 70%;
    }
}

@media screen and (max-width:355px) {
    .modal-contents{
        width: 80%;
        height: 70%;
    }
}

#preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: #fff url(/img/preloader.gif) no-repeat center center;
    background-size: 15%;
  }


