/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-pink: #b9375e;
    --primary-blue: #2f6690;
}

html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
    color: black;
}

h2{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover{
    text-decoration: underline;
}

#upload {
    opacity: 0;

}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);

}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    min-height: 100vh;
    font-family: 'Montserrat',sans-serif;
    /* background-color: #757f9a; */
    /* background-image: linear-gradient(147deg, #757f9a 0%, #d7dde8 100%); */
    background-image: url(/img/wavelogin.png);
    
}

.btn-pink {
    color: var(--primary-pink);
    border-radius: 20px;
    padding: 8px 20px;
    margin: 0;
    background: none;
    transition: .4s;
}

.btn-pink:hover {
    
    color: white;
    background: var(--primary-pink);
}


/*