@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: #1a202c;
    text-align: left;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/img/waveKYC.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin-top: 7rem;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    /* position:fixed; */
}

.card-body-add-request {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.card-body-add-donation {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

#add-request-card {
    background-color: transparent;
}

#add-donation-card {
    background-color: transparent;
}

.rounded-circle{
    border: 1px solid #999;
}

.tabcontent {
    margin-right: -8px;
    margin-left: -8px;
}

.tabcontent>.col, .tabcontent>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}

.edit-profile-btn {
    background: #2f6690;
    color: white;
    font-weight: 500;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-btn:hover {
    background: #3a7ca5;
    cursor: pointer;
}

h4, h1 {
    text-align: center;
}

.eligibility-score {
    color: rgb(201, 25, 25);
}

#myDIV {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
}

.activate-button {
    text-decoration: none;
    background: #b9375e;
    color: white;
    font-weight: 500;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
}

.activate-button:hover {
    background: #d34e76;
    cursor: pointer;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.no-of-responds {
    color: green;
}

.no-of-requests {
    color: purple;
}

.text {
    text-align: center;
}

/* Style the tab */

.tab {
    float: left;
    background-color: #fffefe;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

/* Change background color of buttons on hover */

.tab button:hover {
    color: white;
    background-color: #5681a1;
}

/* Create an active/current "tab button" class */

.tab button.active {
    color: white;
    background-color: #5681a1;
}

/* Style the tab content */

.tabcontent {
    padding: 0px 7px;
}

.row-filter {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.reset-btn {
    margin-right: 15px;
    background: #ef233c;
    color: white;
    font-weight: 400;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.reset-btn:hover {
    background: #d90429;
    cursor: pointer;
}

.apply-btn {
    margin-right: 15px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: 400;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

.apply-btn:hover {
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.add-donation-btn {
    display: block;
    width: 100%;
    background: #b9375e;
    color: white;
    font-weight: 500;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
    margin-right: 1rem;
}

.add-link {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.add-link:hover {
    color: white;
    text-decoration: none;
}

.add-donation-btn:hover {
    background: #d34e76;
    cursor: pointer;
}

a.tag_disabled {
    pointer-events: none;
    cursor: default;
}

#preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: #fff url(/img/preloader.gif) no-repeat center center;
    background-size: 15%;
  }

  ::-webkit-scrollbar {
	width: 8px;
	height: 3px;
	border-left: 0;
	background: rgba(255, 255, 255, 0);
	border-radius: 1em;
	
  }
  
  ::-webkit-scrollbar-track {
	background: none;
  }
  
  ::-webkit-scrollbar-thumb {
	background: #3b363880;
	border-radius: 0;
	border-radius: 1em;
  } 
  