@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #23252B; */
  background: rgb(1, 42, 74);
  background: linear-gradient(82deg, rgba(1, 42, 74, 1) 20%, rgba(42, 111, 151, 1) 80%);
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  padding: 0 150px;
  transition: 2s;
  transition-timing-function: linear;
}

.scrolled {
  background: rgb(1, 42, 74);
  /* background: linear-gradient(82deg, rgba(1, 42, 74, 1) 20%, rgba(42, 111, 151, 1) 80%); */
}

header .logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
}

header .navigation {
  position: relative;
  line-height: 75px;
  transition: 0.8s;
  transition-property: line-height;
}

header.sticky .navigation {
  line-height: 50px;
}

header .navigation .menu {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
}

.menu-item>a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  margin: 20px;
  padding: 25px 0;
}

/* when hovering over the navbar items */

.menu-item>a:hover {
  color: #469DFF;
  transition: 0.3s;
}

.menu-item>button:hover {
  color: #469DFF;
  transition: 0.3s;
}

.menu-item .sub-menu {
  position: absolute;
  background: rgb(1, 42, 74);
  background: linear-gradient(82deg, rgba(1, 42, 74, 1) 20%, rgba(42, 111, 151, 1) 80%);
  top: 74px;
  line-height: 40px;
  list-style: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

header.sticky .menu-item .sub-menu {
  top: 60px;
}

.menu-item:hover .sub-menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.menu-item:hover .sub-menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.menu-item .sub-menu .sub-item {
  position: relative;
  padding: 7px 0;
  cursor: pointer;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 15px 30px;
}

.menu-item .sub-menu .sub-item button {
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  padding: 15px 30px;
}

.menu-item .sub-menu .sub-item:hover {
  background: #4080EF;
}

.menu-item .sub-menu .sub-item:last-child:hover {
  border-radius: 0 0 4px 4px;
}

.more .more-menu {
  position: absolute;
  background: rgb(1, 42, 74);
  background: linear-gradient(82deg, rgba(1, 42, 74, 1) 20%, rgba(42, 111, 151, 1) 80%);
  list-style: none;
  top: 0;
  left: 100%;
  white-space: nowrap;
  border-radius: 0 4px 4px 4px;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s;
  transition-property: transform, opacity;
}

.more:hover .more-menu {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
}

.more .more-menu .more-item {
  padding: 7px 0;
  box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  transition: 0.3s;
}

.more .more-menu .more-item:hover {
  background: #4080EF;
}

.menu-btn {
  display: none;
}

@media (max-width: 1060px) {
  header .navigation .menu {
    position: fixed;
    display: block;
    background: rgb(1, 42, 74);
    background: linear-gradient(82deg, rgba(1, 42, 74, 1) 20%, rgba(42, 111, 151, 1) 80%);
    min-width: 350px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 90px 50px;
    visibility: hidden;
    overflow-y: auto;
    transition: 0.7s;
    transition-property: right, visibility;
  }
  header.sticky .navigation {
    line-height: 75px;
  }
  header .navigation .menu.active {
    right: 0;
    visibility: visible;
  }
  .menu-item {
    position: relative;
  }
  .menu-item .sub-menu {
    opacity: 1;
    position: relative;
    top: 0;
    transform: translateX(10px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: none;
  }
  header.sticky .menu-item .sub-menu {
    top: 0;
  }
  .menu-item:hover .sub-menu {
    transform: translateX(10px);
  }
  .menu-item .sub-menu .sub-item {
    box-shadow: none;
  }
  .menu-item .sub-menu .sub-item:hover {
    background: none;
  }
  .menu-item .sub-menu .sub-item a:hover {
    color: #4080efb2;
    transition: 0.3s;
  }
  .more .more-menu {
    opacity: 1;
    position: relative;
    left: 0;
    transform: translateY(0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    display: none;
  }
  .more .more-menu .more-item {
    box-shadow: none;
  }
  .more .more-menu .more-item:hover {
    background: none;
  }
  .more .more-menu .more-item a {
    margin-left: 20px;
  }
  .close-btn {
    position: absolute;
    background: url(/img/close.png)no-repeat;
    width: 40px;
    height: 40px;
    background-size: 25px;
    background-position: center;
    top: 0;
    left: 0;
    margin: 25px;
    cursor: pointer;
  }
  .menu-btn {
    background: url(/img/menu.png)no-repeat;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    display: block;
  }
  header {
    padding: 15px 20px;
  }
  header.sticky {
    padding: 10px 20px;
  }
}