@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #2f6690;
    --primary-pink: #b9375e;
}

html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    /* background-image: url(/img/waveEmailSearch.svg); */
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover{
    text-decoration: underline;
}



main {
    width: 80%;
    background-color: #b9375e;
    margin: auto;
}

form {
    width: 75%;
    margin: auto;
}


