@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

:root {
    /* font-size: 100%;
    font-size: 16px;
    line-height: 1.5; */
    --primary-pink: #b9375e;
    --primary-blue: #2f6690;
}

.sidebar {
    font-family: 'Montserrat', sans-serif;
    background-image: url(/img/wavelogin.png);
    background-size: cover;
    /* margin-bottom: 200px; */
    padding-bottom: 5rem;
}

form input[type="text"] {
    display: inline;
    width: 95%;
    height: 2.8rem;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    /* padding: 1em; */
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

.signup-btn {
    display: inline;
    width: 20%;
    background: var(--primary-pink);
    color: white;
    font-weight: 500;
    border: none;
    /* padding: 1rem ; */
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
    margin-left: .6rem;
    margin-right: 0rem;
}

.signup-btn:hover {
    background: #3a7ca5;
    cursor: pointer;
}

.main-container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding: 30px;
    margin-top: 70px;
    /* margin-bottom: 50px; */
    padding-bottom: 100px;
    /* height of your footer */
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
} */

#preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index:1000;
    background: #fff url(/img/preloader.gif) no-repeat center center;
    background-size: 30%;
}

p{
    background-color: transparent;
}