@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
:root{
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #2f6690;
    --primary-pink: #b9375e;
}

html{
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--primary-blue);
}

a:hover{
    text-decoration: underline;
}

.brand-name {
    font-weight: 900;
    display: inline;
}

@media screen and (max-width:900px) {
    .brand-name {
        font-weight: 800;
        display: block;
    }   
    
}


.small{
    font-size: 80%;
    text-align: center;
}

.split-screen{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: inherit;
    overflow: auto;
}

.copy{
    margin-top: 4rem;
}
.left{
    /* background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url(https://images.unsplash.com/photo-1503455637927-730bce8583c0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MXwxfDB8MXxhbGx8fHx8fHx8fA&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit); */
    background-image: url(/img/wave.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform: rotateY(180deg);
    /* transform: rotate(180deg); */
}

.left .copy{
    transform: rotateY(-180deg);
    margin: 2em;
    color: black;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.left p{
    font-weight: 400;
    font-size: 1.25rem;
}

.right .copy{
    color: black;
    text-align: center;
}

.right .copy p{
    margin: 1.5rem 0;
    font-size: 0.875rem;
}

.right form{
    width: 328px;
}

.right{
    background-color: transparent;
}

form input[type="text"],form input[type="email"],
form input[type="password"]{
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
label.checkbox-container{
    display: flex;
    justify-content: space-between;
}

.input-container.password{
    position: relative;
}
.input-container.password i{
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 18px;
    color: grey;
}

.input-container.password i:hover{
    cursor: pointer;
}

.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
}

.checkbox-container input:checked~ .checkmark{
    background-color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}

.checkmark{
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    top: -2px;
    left: 0;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~ .checkmark:after{
    display: block;
}

.checkbox-container .checkmark:after{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 6px;
    height: 12px;
    left: 6px;
    top: 2px;
    transform: rotate(45deg);
}

.signup-btn{
    display: block;
    width: 100%;
    background: var(--primary-blue);
    color: white;
    font-weight: 500;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: 0.3s;
    font-size: 0.875rem;
}

.signup-btn:hover{
    background: #3a7ca5;
    cursor: pointer;
}

#hide-eye-password, #hide-eye-confirm-password{
    display: none;
}

#or-button {
    overflow: hidden;
    text-align: center;
  }
  
  #or-button:before,
  #or-button:after {
    background-color: rgb(182, 181, 181);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  #or-button:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  #or-button:after {
    left: 0.5em;
    margin-right: -50%;
  }

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    }

.fa-facebook-square {
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 55%;
    background-position: 70% 0;
    background-repeat: no-repeat;
}

.blobSignup{
    width: 400px;;
    height: 400px;
    top: 200px;
    position: absolute;
    z-index: -1;
    right: 2px;

}
path{
    width: 500px;
    height: 500px;
}

@media screen and (min-width:900px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width: 100%;
        height: auto;
    }
    
}

